.routerWrapper {
  /* thanks https://uigradients.com/#Nelson */
  background: #f2709c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff9472,
    #f2709c,
    #ff9472
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff9472,
    #f2709c,
    #ff9472
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //background: #f857a6;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 300% 100%;

  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.loginForm.open {
  height: 100vh;
  width: 100vw;
  .loginRegisterForm {
    margin: 50vh 0 0 50vw;
    transform: translate(calc(-50% + 300px), -50%);
  }
}

.loginForm {
  .loginRegisterForm {
    transition: 1s transform 1s, 1s margin 1s;
  }

  .loginCard {
    transition: 0.3s width, 0.5s box-shadow 2s;
  }
}

.loginForm:not(.open) {
  .loginRegisterForm {
    margin: 0;
    transform: translate(0);

    .loginCard {
      box-shadow: none !important;
    }
  }
}
